body {
    background-color: #131313;
}

nav {
    padding: auto;
    float: right;
}

ul {
    list-style-type: none;
}

li {
    font-family: sans-serif;
    font-weight: bolder;
    float: left;
    margin: 10px;

}

li a{
    color: #ffffff;
    text-decoration: none;
}

li a:hover{
    color:blue;
}
