html {
  font-size: 16px;
}

body {
  background-color: #121212;
}

nav {
  display: flex;
  flow: right;
}

ul {
  flow: right;
}

li a{
  font-family: sans-serif;
  font-color: #ffffff;
  font-weight: bold;
}

h1 {
  font-family: sans-serif;
  font-color: #121212;
}

